



body{
    background-image: linear-gradient(to left, rgba(53,52,52), rgb(112, 112, 112));
 
    }

p{
    color: black;
    font-size: 1em;
    font-style: oblique;
}

h1{
    color: black;
}

.box1 {
 
    width: 1vw;
    height: 10vh;
    z-index: 0;
    padding-left: 35%;
    padding-top: 4%;
    position: relative;
}

#the1{
    color: rgb(255, 255, 255);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14em;
    z-index: 0;
    position: absolute;
    margin: 0%;
}

.b1 {
  
    width: 90vw;
    height: 15vh;
    z-index: 2;
    position: relative;
    padding-right: 10%; 
}
#valley1 {
    color: rgb(253, 253, 253);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13em;
    z-index: 2;
    position: relative;
    padding-left: 50%;

}
.b2 {
   
    width: 40vw;
    height: 10vh;
    z-index: 3;
    float: right;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest1 {
    color: rgb(255, 255, 255);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12em;
    z-index: 3;
    position: absolute;
    margin: 0%;
    padding-right: 10%;
   

}
.box2 {
    width: 70vw;
    height: 2vh;
    z-index: 1;
    position: relative;
    padding: 0%;
    margin: auto;
}

#valley2 {
    color: rgb(238, 239, 241);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15em;
    z-index: 4;
    margin: 0%;
    opacity: 0.2;

}

.bb2 {
  
    width: 100vw;
    height: 32vh;
    z-index: 14;
    position: relative;
    padding: 0%;
    margin: auto;
   
}

#unrest2 {
    color: rgb(238, 239, 241);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16em;
    z-index: 14;
    float: right;
    padding-right: 35%;
    opacity: 0.2;
    

}
.box3 {

    width: 80vw;
    height: 1vh;
    z-index: 5;
    float: right;
    position: absolute;
 
}
#aut1 {
    color: rgb(255, 255, 255);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    float: right;
    font-size: 3em;
    z-index: 5;
    position: relative;
    margin: 0%;
  

}
.b3 {
   
    width: 80vw;
    height: 1vh;
    z-index: 6;
    float: right;
    position: relative;
    padding-top: 10%;
 
}
#date1 {
    color: rgb(255, 255, 255);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    z-index: 6;
    position: relative;
    margin: 0%;
    margin-left: 54%;
    
}
.bb3 {
    width: 80vw;
    height: 1vh;
    z-index: 6;
    float: right;
    position: relative;
    padding-top: 5%;
 
}
#info1 {
    color: rgb(255, 255, 255);
    font-family: starling, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    z-index: 6;
    position: relative;
    margin: 0%;
    margin-left: 54%;
    

}
p{
    color: rgb(250, 250, 250);
    font-size: 1.2em;
    font-family: starling, serif;
    font-weight: 300;
    font-style: normal;
    text-align: right;
    z-index: 15;
   
}
.box4 {
 
    width: 80vw;
    height: 110vh;
    z-index: 6;
    padding-top: 30%;
    padding-left: 8%;
    
}
.box5 {

    width: 70vw;
    height: 2vh;
    z-index: 15;
    position: relative;
    padding: 0%;
    margin: auto;
}

#valley3 {
    color: rgb(238, 239, 241);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 9em;
    z-index: 15;
    margin: 0%;
    opacity: 0.2;

}
.b5 {
   
    width: 70vw;
    height: 5vh;
    z-index: 14;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest3 {
    color: rgb(238, 239, 241);
    font-family: sloop-script-three, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15em;
    z-index: 14;
    opacity: 0.2;
  
}

@media only screen and (max-width: 800px) {

   body {
    background-image: linear-gradient(to left, rgb(255, 249, 249), rgb(255, 255, 255));
   }
 
 
.box1 {
  
    width: 20vw;
    height: 10vh;
    z-index: 0;
    padding-left: 11%;
    padding-top: 4%;
    position: relative;

}

#the1{
    color: black;
    font-family: sheila, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    z-index: 0;
    position: absolute;
    transform: rotate(-90deg);
}

.b1 {
  
    width: .5vw;
    height: 16vh;
    z-index: 2;
    position: relative;
    padding-top: 7%;
   
}
#valley1 {
    color: black;
    font-family: sheila, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    z-index: 2;
    position: absolute;
    transform: rotate(-90deg);
    padding-right: 11%;

}
.b2 {
   
    width: 70vw;
    height: 10vh;
    z-index: 3;
    float: right;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest1 {
    color: black;
    font-family: sheila, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    z-index: 3;
    position: absolute;
    margin: 0%;
    padding-right: 10%;
   

}
.box2 {
    width: 70vw;
    height: 2vh;
    z-index: 1;
    float: right;
    position: relative;
    padding: 0%;
    margin: auto;
}

#valley2 {
    color: rgb(177, 180, 185);
    font-family: sheila, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
    z-index: 4;
    margin: 0%;
 

}

.bb2 {

    width: 100vw;
    height: 2vh;
    z-index: 4;
    float: right;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest2 {
    color: rgb(177, 180, 185);
    font-family: sheila, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
    z-index: 4;
    transform: rotate(180deg);

}
.box3 {

    width: 80vw;
    height: 1vh;
    z-index: 5;
    float: right;
    position: absolute;
 
}
#aut1 {
    color: rgb(0, 0, 0);
    font-family: sheila, sans-serif;
    font-weight: 400;
    font-style: normal;
    float: right;
    font-size: 1.5em;
    z-index: 5;
    position: relative;
    margin: 0%;
  

}
.b3 {
   
    width: 80vw;
    height: 1vh;
    z-index: 6;
    float: right;
    position: relative;
    padding-top: 10%;
 
}
#date1 {
    color: rgb(0, 0, 0);
    font-family: sheila, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    z-index: 6;
    position: relative;
    margin: 0%;
    margin-left: 13%;
    

}
.bb3 {
    width: 80vw;
    height: 1vh;
    z-index: 6;
    float: right;
    position: relative;
    padding-top: 5%;
 
}
#info1 {
    color: rgb(0, 0, 0);
    font-family: sheila, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 4em;
    z-index: 6;
    font-size: 1em;
    position: relative;
    margin: 0%;
    margin-left: 13%;
    

}
p{
    color: black;
    font-size: 1em;
    font-family: mrs-eaves-roman-lining, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
   
}
.box4 {
 
    width: 80vw;
    height: 140vh;
    z-index: 6;
    padding-top: 30%;
    padding-left: 8%;
    

}
.box5 {

    width: 70vw;
    height: 2vh;
    z-index: 4;
    position: relative;
    padding: 0%;
    margin: auto;
}

#valley3 {
    color: rgb(177, 180, 185);
    font-family: sheila, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
    z-index: 4;
    margin: 0%;

}
.b5 {
   
    width: 70vw;
    height: 35vh;
    z-index: 1;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest3 {
    color: rgb(177, 180, 185);
    font-family: sheila, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
    z-index: 4;
    transform: rotate(180deg);

}
     }

   

@media only screen and (min-width: 800px) and (max-width: 1280px) {

    body{
        background-image: linear-gradient( rgb(37, 9, 114), rgba(255,255,255));

    }

   
p{
    color: black;
    font-size: 1em;
    font-style: oblique;

}

h1{
    color: black;
    
}

.box1 {
  
    width: 10vw;
    height: 10vh;
    z-index: 0;
    padding-left: 80%;
    padding-top: 25%;
    position: relative;

}

#the1{
    color: rgb(238, 239, 241);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12em;
    z-index: 0;
    position: absolute;
    opacity: 0.1;
   
}

.b1 {
  
    width: 10vw;
    height: 1vh;
    z-index: 9;
    position: relative;
    padding-left: 77%;
   
   
}
#valley1 {
    color: rgb(238, 239, 241);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    z-index: 9;
    position: absolute;
    opacity: 0.1;
   

}
.b2 {
   
    width: 85vw;
    height: 7vh;
    z-index: 3;
    float: right;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest1 {
    color: rgb(255, 255, 255);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12em;
    z-index: 3;
    position: absolute;
    margin: 0%;
    padding-right: 13%;
    text-shadow: 2px 2px 4px #000000;
   
}
.box2 {
    
    width: 80vw;
    height: .5vh;
    z-index: 1;
    float: left;
    position: relative;
    padding: 0%;
    
}

#valley2 {
    color: rgb(255, 255, 255);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11em;
    z-index: 1;
    position: absolute;
    text-shadow: 2px 2px 4px #000000; 

}

.bb2 {

    width: 60vw;
    height: 2vh;
    z-index: 4;
    float: right;
    position: relative;
    padding-right: 50%;
    margin: auto;
    padding-top: 15%;
}

#unrest2 {
    color: rgb(238, 239, 241);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13em;
    z-index: 4;
    transform: rotate(90deg);
    opacity: 0.1;

}
.box3 {

    width: 78vw;
    height: 1vh;
    z-index: 5;
    float: right;
    position: absolute;
    padding-left: 0%;
 
}
#aut1 {
    color: rgb(255, 251, 255);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    float: right;
    font-size: 2em;
    z-index: 5;
    position: relative;
    margin: 0%;
  

}
.b3 {
  
    width: 50vw;
    height: .5vh;
    z-index: 6;
    position: relative;
    padding-right: 10%;
   
 
}
#date1 {
    color: rgb(255, 255, 255);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    z-index: 6;
    position: absolute;
    margin-right: 0%;
  
    

}
.bb3 {
    width: 80vw;
    height: 1vh;
    z-index: 6;
    float: right;
    position: relative;
    padding-top: 5%;
 
}
#info1 {
    color: rgb(255, 255, 255);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    z-index: 6;
    position: relative;
    margin: 0%;
    margin-left: 39%;
    

}
p{
    color: rgb(255, 254, 254);
    font-size: 1.2em;
    font-family: williams-caslon-text, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
   
}
.box4 {
 
    width: 80vw;
    height: 130vh;
    z-index: 6;
    padding-top: 30%;
    padding-left: 8%;
    

}
.box5 {

    width: 100vw;
    height: 2vh;
    z-index: 4;
    position: relative;
    padding: 0%;
    margin: auto;
}

#valley3 {
    color: rgb(238, 239, 241);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0em;
    z-index: 4;
    margin: 0%;

}
.b5 {

    width: 100vw;
    height: 1vh;
    z-index: 10;
    position: relative;
    padding: 0%;
    margin: auto;
}

#unrest3 {
    color: rgb(238, 239, 241);
    font-family: natalya, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0em;
    z-index: 10;
    margin: 0%;


}