body {
    background-color: rgb(134, 140, 168);
    display: grid;
}
.top {
    background-color: rgb(134, 140, 168);
    width: 100vw;
    height: 14vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em; 
}
.logo {
    background-color: rgb(44, 72, 191);
    height: 4vh;
    width: 8vw;
    margin-top: 8%;
    margin-inline-start: 12px;
   
}
.work {
    background-color: rgb(35, 73, 159);
    height: 4vh;
    width: 14vw;
    margin-top: 1%;
    margin-inline-start: 1070px;
   
}
.info {
    background-color: rgb(10, 12, 77);
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em; 
    margin-top: 200%;
    margin-inline-start: 20px;
}
.bottom {
    background-color: rgb(82, 74, 186);
    width: 3vw;
    height: 4vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em; 
    margin-top: 200%;
    margin-inline-start: 720px;
}
.scroll {
    background-color: rgb(134, 140, 168);
    width: 3vw;
    height: 4vh;
    margin-top: 200%;
  
}