body{
    background-color: black;
    display: grid;
}
.logo{
    background-color: rgb(191, 60, 186);
    height: 7vh;
    width: 7vw;
    z-index: 1;
    position: relative;
    margin-inline-start: 250px;
    margin-top: 3%
}
.top {
    background-color: black;
    height: 7px;
    margin-top: 3%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr .1fr;
    grid-template-rows: 1px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    margin-inline-start: 631px; 
    
}
.about {
    background-color: rgb(101, 16, 101);
    height: 7vh;
    width: 5vw;
   
}
.offerings {
    background-color: rgb(101, 16, 101);
    height: 7vh;
    width: 5vw;
  
}
.work {
    background-color: rgb(101, 16, 101);
    height: 7vh;
    width: 7vw;
   
}
.careers {
    background-color: rgb(101, 16, 101);
    height: 7vh;
    width: 7vw;
   
}
.main {
    background-color:black;
    width: 944px;
    height: 500px;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    margin-inline-start: 210px; 
    
}
.photo {
    background-color: rgb(141, 26, 168);
    height: 70vh;
    width: 27vw;
}
.quote {
    background-color: rgb(203,16,227);
    height: 13vh;
    width: 26vw;
    margin-top: 5%;
    position: absolute;
    margin-inline-start: 43%;
  
}
.info {
    background-color:  rgb(203,16,227);
    height: 13vh;
    width: 32vw;
    margin-top: 16%;
    position: absolute;
    margin-inline-start: 43%;
    
}
.seehow {
    background-color:rgb(203,16,227);
    height: 5vh;
    width: 10vw;
    margin-top: 29%;
    position: absolute;
    margin-inline-start: 43%;
    
}
.salesloft {
    background-color: rgb(113, 60, 129);
    height: 5vh;
    width: 4vw;
    margin-top: 39%;
    position: absolute;
    margin-inline-start: 43%;
    
}
.intergate {
    background-color: rgb(113, 60, 129);
    height: 5vh;
    width: 6vw;
    margin-top: 39%;
    position: absolute;
    margin-inline-start: 50%;
    
}
.genesys {
    background-color: rgb(113, 60, 129);
    height: 5vh;
    width: 5vw;
    margin-top: 39%;
    position: absolute;
    margin-inline-start: 60%;
    
}
.salesforce {
    background-color: rgb(113, 60, 129);
    height: 5vh;
    width: 5vw;
    margin-top: 39%;
    position: absolute;
    margin-inline-start: 68%;
    
}
.cherwell {
    background-color: rgb(113, 60, 129);
    height: 5vh;
    width: 5vw;
    margin-top: 39%;
    position: absolute;
    margin-inline-start: 76%;
    
}
.box1 {
    background-color: rgb(195, 113, 191);
    width: 280px;
    height: 378px;
    margin-top: 48%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    margin-inline-start: 790px; 
    
}
.insight {
    background-color: rgb(157, 46, 140);
    height: 5vh;
    width: 9vw;
    margin-top: 117%;
    position: absolute;
    margin-inline-start: 5%;
    
}
.box2 {
    background-color: black;
    width: 220px;
    height: 400px;
    margin-top: 74%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
 
    
}
.contact {
    background-color: rgb(89, 26, 108);
    width: 20px;
    height: 60px;
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    
    
}
.newsletter {
    background-color:rgb(89, 26, 108);
    width: 20px;
    height: 60px;
    margin-top: 34%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    
}
.strategy {
    background-color: rgb(157, 46, 140);
    height: 5vh;
    width: 9vw;
    margin-top: 158%;
    position: absolute;
    margin-inline-start: 107%;
    
}
.learn {
    background-color:  rgb(195, 113, 191);
    width: 280px;
    height: 400px;
    position: absolute;
    margin-inline-start: 100%;
    
}
.learn {
    background-color: rgb(195, 113, 191);
    width: 280px;
    height: 400px;
    position: absolute;
    margin-inline-start: 167;
    
}

.digital {
    background-color:rgb(195, 113, 191);
    width: 280px;
    height: 400px;
    position: absolute;
    margin-inline-start: 232%;
    
}
.learn1 {
    background-color: rgb(157, 46, 140);
    height: 5vh;
    width: 9vw;
    margin-top: 158%;
    position: absolute;
    margin-inline-start: 240%;
    
}
.box3 {
    background-color: rgb(195, 113, 191);
    width: 280px;
    height: 400px;
    margin-top: 102%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
    margin-inline-start: 789px; 
    
}
.brand {
    background-color:  rgb(157, 46, 140);
    height: 5vh;
    width: 9vw;
    margin-top: 125%;
    position: absolute;
    margin-inline-start: 5%;
    
}
.box4 {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 30vh;
    margin-top: 152%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 100px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    position: absolute;
 
    
}
.logo2 {
    background-color:  rgb(146, 29, 155);
    height: 14vh;
    width: 13vw;
    position: absolute;
    margin-inline-start: 15%;
    margin-top: 2%;
    
}
.phone {
    background-color:  rgb(146, 29, 155);
    height: 14vh;
    width: 13vw;
    position: absolute;
    margin-inline-start: 29%;
    margin-top: 2%;
    
}
.address {
    background-color: rgb(146, 29, 155);
    height: 14vh;
    width: 13vw;
    position: absolute;
    margin-inline-start: 43%;
    margin-top: 2%;
    
}
.social {
    background-color:  rgb(167, 36, 198);
    height: 14vh;
    width: 13vw;
    position: absolute;
    margin-inline-start: 64%;
    margin-top: 2%;
    
}



