
    body {
        margin: 0%;
        padding: 0%;
        max-width: 100%;
        height: auto;
    }

    img {
        max-width: 100%;
    }

    #header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        margin: 5px;
    }


    h1 {
        font-family: bd-colonius, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10vh;
        padding-left: 42vw;
    }
    #first {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        padding-left: 5vw;
        padding-top: 10vh;
        padding-bottom: 14vh;
    
    }
    #second {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        padding-left: 20vw;
        padding-bottom: 14vh;
        

    }
    #third {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        padding-left: 6vw;
        padding-bottom: 14vh;
        

    }
    #homelogo {
        grid-template-columns: 1fr;
        padding-left: 69vw;
        padding-top: 43vh;
    }

    .blueoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 60px 550px;
        width: 63vw;
        margin: auto;
        margin-top: 6%;
        margin-bottom: 10vw;
    }
    .blue {
        background-color:#486895;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }


    #title {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 80%;
        font-size: 2.5em;
        padding-left: 3%;

    }
    #date {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -13%;
        padding-left: 3%;
    }
    #info{
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        margin-top: 20%;
        padding-left: 3%;
    }

    .hunteroverlap {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 70px 550px;
        width: 60vw;
        margin: auto;
        margin-top: 6%;
        margin-bottom: 9vw;
    }
    .thesis {
        background-color: #5F6535;
        
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title2 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 80%;
        font-size: 2.5em;
        padding-left: 3%;
    }
    #date2 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -15%;
        padding-left: 3%;
    }
    #info2 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        margin-top: 20%;
        padding-left: 3%;
        
    }
    .pinkoverlap {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 40px 380px;
        width: 66vw;
        margin: auto;
        margin-top: 6%;
        margin-bottom: 19vw;
    }
    .thames {
        background-color: #A83E69;    
    }
    .wide {
        grid-column: span 2;
    
    }

    .wide img{
        width: 100%;
    }

    #title3 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 50%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date3 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info3 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .threeimages {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 36vw;
        margin: auto;
        margin-top: 1%;
    }
    .grayoverlap {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 50px 310px;
        width: 68vw;
        margin: auto;
        margin-top: 6%;
        padding-bottom: 20vw;
    }
    .coffee {
        background-color:#938B8D;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title4 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 25%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date4 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -9%;
        padding-left: 3%;
    }
    #info4 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .threeimages2 {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 40vw;
        margin: auto;
        margin-top: 1%;
    }
    .plumoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 47px 390px;
        width: 60vw;
        margin: auto;
        margin-top: 6%;
        padding-bottom: 15vw;
        
    }
    .paul {
        background-color: #CC9410;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title5 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 43%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date5 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info5 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .threeimages3 {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 32vw;
        margin: auto;
        margin-top: 1%;
    }
    .orangeoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 47px 430px;
        width: 65vw;
        margin: auto;
        margin-top: 6%;
        padding-bottom: 20vw;
    
        
    }
    .comp {
        background-color: #EA6B0B;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title6 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 43%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date6 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info6 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .threeimages4 {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 55vw;
        margin: auto;
        margin-top: 1%;
    }
    .cobaltoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 57px 560px;
        width: 53vw;
        margin: auto;
        margin-top: 6%;
        padding-bottom: 10vw;
    
        
    }
    .jazz {
        background-color: #486895;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title7 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 95%;
        font-size: 2em;
        padding-left: 3%;
    
    }
    #date7 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info7 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .maroonoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 47px 550px;
        width: 53vw;
        margin: auto;
        margin-top: 6%;
    height: 30vh;
        
    }
    .autumn {
        background-color: #823DA7;
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title8 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 95%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date8 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info8 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }
    .smokeoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 87px 320px;
        width: 65vw;
        margin: auto;
        margin-top: 6%;
        height: 30vh;
        padding-bottom: 30vw;
        
    }
    .oris {
        background-color: rgb(32, 125, 179);
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    #title9 {
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        margin-top: 20%;
        font-size: 2em;
        padding-left: 3%;
    }
    #date9 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(255, 251, 251);
        margin-top: -10%;
        padding-left: 3%;
    }
    #info9 {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
        margin-top: 17%;
        padding-left: 3%;
    }

    .mainoverlap {
        display: grid;
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-rows: 360px 820px;
        width: 62vw;
        margin: auto;
        margin-top: 10%;
        height: 30vh;
        padding-bottom: 30vw;
        
    }
    .biospace {
        background-color: rgb(32, 125, 179);
    }
    .wide {
        grid-column: span 2;
    }

    .wide img{
        width: 100%;
    }

    .amanda {
        margin-top: -18vw;
    }

    .bio {
        font-family: bd-colonius, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: -15vw;
        font-size: 15vh;
        margin-left: 5vw;
        color: #449EAB;
    }
    .behance {
        margin-top: 4vw;
        margin-left: 4vw;
    }
    .name {
        font-family: bd-colonius, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: -16vw;
        font-size: 2.5em;
        margin-left: 1vw;
        color: rgb(255, 255, 255);
    }
    .email {
        font-family: nimbus-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 13vw;
        font-size: .5em;
        color: black;
    }
    .address {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: -1vw;
        font-size: .5em;
        color: black;
    }
    .personalinfo {
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 1vw;
        font-size: .4em;
        color: black;
    }

  
@media only screen and (max-width: 800px)  {

    h1 {
        font-family: bd-colonius, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vh;
        padding-left: 37vw;

    }
    #first {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        padding-top: 5vh;
        padding-bottom: 7vh;
        padding-right: 4vw;
    
    }
    #second {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        padding-top: 2vh;
        padding-bottom: 7vh;
        padding-right: 4vw;
    
    }
    #third {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        padding-top: 2vh;
        padding-bottom: 7vh;
        padding-right: 4vw;
    
    }

    .blueoverlap{
        grid-template-columns: .25fr .85fr;
        grid-template-rows: 10px 0px 370px;

    }

    .bluetext {
        grid-column-start: 2;
    }
    #title {
        padding-top: 10;
        margin-top: -10vw;
    }
    #date {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -25%;
        padding-left: 3%;
    }
    .hunteroverlap{
        grid-template-columns: .55fr .75fr;
        grid-template-rows: 10px 0px 315px;

    }

    .thesistext {
        grid-column-start: 2;
    }
    #title2 {
        padding-top: -1vw;
        margin-top: -10vw;
        padding-left: 2vw;
    }
    #info2{
        padding-left: 2vw;
    }
    #date2 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -5vh;
        padding-left: 6%;
    }
    .pinkoverlap{
        grid-template-columns: .55fr .75fr;
        grid-template-rows: 10px 0px 320px;

    }

    .thamestext {
        grid-column-start: 2;
    }
    #title3 {
        padding-top: -13;
        margin-top: -10vw;
    }
    #date3 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -22%;
        padding-left: 5%;
    }
    .threeimagesone {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 65vw;
        margin: auto;
        margin-top: 1%;

    }
    .grayoverlap{
        grid-template-columns: .5fr .5fr;
        grid-template-rows: 10px 0px 255px;

    }

    .coffeetext {
        grid-column-start: 2;
    }
    #title4 {
        padding-top: -13;
        margin-top: -10vw;
    }
    #date4 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -20%;
        padding-left: 5%;
    }
    .threeimagestwo {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 102vw;
        margin: auto;
        margin-top: 1%;

    }
    .plumoverlap{
        grid-template-columns: .15fr .85fr;
        grid-template-rows: 10px 0px 310px;

    }

    .paultext {
        grid-column-start: 2;
    }
    #title5 {
        padding-top: -13;
        margin-top: -7vw;
    }
    #date5 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -16%;
        padding-left: 5%;
    }
    .threeimagesthree {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50vw;
        margin: auto;
        margin-top: 1%;

    }
    .orangeoverlap{
        grid-template-columns: .25fr .75fr;
        grid-template-rows: 10px 0px 420px;

    }

    .comptext {
        grid-column-start: 2;
    }
    #title6 {
        padding-top: -3vh;
        margin-top: -10vw;
    }
    #date6 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -16%;
        padding-left: 5%;
    }
   

    .threeimagesfour {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 97vw;
        margin: auto;
        margin-top: 1%;

    }
    .cobaltoverlap{
        grid-template-columns: .25fr .85fr;
        grid-template-rows: 10px 0px 331px;

    }

    .jazztext {
        grid-column-start: 2;
    }
    #title7 {
        padding-top: -3vh;
        margin-top: -10vw;
    }
    #date7 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -16%;
        padding-left: 5%;
    }
    .maroonoverlap{
        grid-template-columns: .55fr 1fr;
        grid-template-rows: 10px 0px 320px;

    }

    .autumntext {
        grid-column-start: 2;
    }
    #title8 {
        margin-top: -7vw;

    }
    #date8 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -22%;
        padding-left: 3%;
    }

#info8 {
    padding-left: 1vw;
}
    .smokeoverlap{
        grid-template-columns: .55fr 1fr;
        grid-template-rows: 10px 0px 290px;

    }

    .oristext {
        grid-column-start: 2;
    }
    #title9 {
        padding-top: -3vh;
        margin-top: -10vw;
    }
    #date9 {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin-top: -20%;
        padding-left: 3%;
    }

    .threeimagesfive {
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 65vw;
        margin: auto;
        margin-top: 1%;

    }
    .mainoverlap{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px 0px 890px;

    }
    .biotext {
        font-family: bd-colonius, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: -5vw;
        font-size: 7vh;
        
    }
    .behancetwo {
        margin-top: 17vw;
    }
    .amandatwo {
        margin-top: 19vw;
    }
    .nametwo {
        margin-top: -140vw;;
    }
    .emailtwo{
        margin-top: -2vw;
        font-size: .5em;
    }
    .addresstwo{
        margin-top: -5vw;
    }
    .personalinfotwo {
        font-size: .5em;
    }
 
 
   

    }

    @media only screen and (min-width: 800px) and (max-width: 1280px) {

        h1 {
            font-size: 5vh;
            padding-right: 7vw;
    
        }
        #first {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2vw;
          
            padding-top: 10vh;
            padding-bottom: 14vh;
        
        }
        #second {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2vw;
            padding-left: 20vw;
            padding-bottom: 14vh;
        
        }
        #third {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2vw;
            padding-left: 6vw;
            padding-bottom: 14vh;
        
        }
        .amandathree {
            margin-top: -33vw;
        }
        .emailthree{
            margin-top: 6vw;
            font-size: .5em;
        }

    


    }
                
